{% extends 'core/base.html' %} {% block content %}
<header class="px-6 py-10 lg:py-20 bg-purple-500">
  <div class="max-w-3xl mx-auto text-center">
    <p class="mb-4 text-3xl lg:text-5xl text-white">Welcome to Bright Buy</p>
    <p class="text-white">
      We're thrilled to offer you a wide range of products featuring our unique
      designs
    </p>
    <p class="mb-10 text-white">
      Our designs are inspired by the latest trends, pop culture, and everyday
      life, making them the perfect addition to your personal style.
    </p>
    <a
      href="#"
      class="inline-block px-8 py-4 rounded-xl bg-white text-purple-500 hover:bg-gray-200"
      >Start Shopping</a
    >
  </div>
</header>

<div class="max-w-6xl mx-auto py-2 px-6 xl:px-0">
  <div class="products flex items-center flex-wrap">
    <div class="w-full md:w-1/4 xl:w1/3 p-6">
      <a href="#">
        <img
          src="https://www.redbubble.com/i/throw-pillow/Furry-Friend-Cooper-by-BantuBrush/140926902.5X2YF"
          alt=""
          class="rounded-xl hover:shadow-lg"
        />
      </a>

      <div class="pt-3 flex items-center justify-between">
        <a href="#">Product name</a>
        <a href="#" class="text-purple-500 hover:text-purple-800">
          <svg
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7 7V5a3 3 0 0 1 5-2.236A3 3 0 0 1 17 5v2h1.5A1.5 1.5 0 0 1 20 8.5V18a3.997 3.997 0 0 1-1.825 3.357l-.545-.096c-.775-.136-1.574-.563-2.175-1.172-.6-.609-.955-1.346-.955-2.089V7h1V5a1.5 1.5 0 0 0-2.656-.956c.101.3.156.622.156.956v13c0 1.229.582 2.326 1.387 3.142a5.8 5.8 0 0 0 1.08.858H8a4 4 0 0 1-4-4V8.5A1.5 1.5 0 0 1 5.5 7H7Zm1.5-2v2h3V5a1.5 1.5 0 0 0-3 0Z"
              fill="#8E43AD"
            />
          </svg>
        </a>
      </div>
      <p class="pt-1 text-gray-400">$9.99</p>
    </div>
    <div class="w-full md:w-1/4 xl:w1/3 p-6">
      <a href="#">
        <img
          src="https://www.redbubble.com/i/throw-pillow/Furry-Friend-Cooper-by-BantuBrush/140926902.5X2YF"
          alt=""
          class="rounded-xl hover:shadow-lg"
        />
      </a>

      <div class="pt-3 flex items-center justify-between">
        <a href="#">Product name</a>
        <a href="#" class="text-purple-500 hover:text-purple-800">
          <svg
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7 7V5a3 3 0 0 1 5-2.236A3 3 0 0 1 17 5v2h1.5A1.5 1.5 0 0 1 20 8.5V18a3.997 3.997 0 0 1-1.825 3.357l-.545-.096c-.775-.136-1.574-.563-2.175-1.172-.6-.609-.955-1.346-.955-2.089V7h1V5a1.5 1.5 0 0 0-2.656-.956c.101.3.156.622.156.956v13c0 1.229.582 2.326 1.387 3.142a5.8 5.8 0 0 0 1.08.858H8a4 4 0 0 1-4-4V8.5A1.5 1.5 0 0 1 5.5 7H7Zm1.5-2v2h3V5a1.5 1.5 0 0 0-3 0Z"
              fill="#8E43AD"
            />
          </svg>
        </a>
      </div>
      <p class="pt-1 text-gray-400">$9.99</p>
    </div>
    <div class="w-full md:w-1/4 xl:w1/3 p-6">
      <a href="#">
        <img
          src="https://www.redbubble.com/i/throw-pillow/Furry-Friend-Cooper-by-BantuBrush/140926902.5X2YF"
          alt=""
          class="rounded-xl hover:shadow-lg"
        />
      </a>

      <div class="pt-3 flex items-center justify-between">
        <a href="#">Product name</a>
        <a href="#" class="text-purple-500 hover:text-purple-800">
          <svg
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7 7V5a3 3 0 0 1 5-2.236A3 3 0 0 1 17 5v2h1.5A1.5 1.5 0 0 1 20 8.5V18a3.997 3.997 0 0 1-1.825 3.357l-.545-.096c-.775-.136-1.574-.563-2.175-1.172-.6-.609-.955-1.346-.955-2.089V7h1V5a1.5 1.5 0 0 0-2.656-.956c.101.3.156.622.156.956v13c0 1.229.582 2.326 1.387 3.142a5.8 5.8 0 0 0 1.08.858H8a4 4 0 0 1-4-4V8.5A1.5 1.5 0 0 1 5.5 7H7Zm1.5-2v2h3V5a1.5 1.5 0 0 0-3 0Z"
              fill="#8E43AD"
            />
          </svg>
        </a>
      </div>
      <p class="pt-1 text-gray-400">$9.99</p>
    </div>
    <div class="w-full md:w-1/4 xl:w1/3 p-6">
      <a href="#">
        <img
          src="https://ih1.redbubble.net/image.4836982755.6902/throwpillow,small,600x-bg,f8f8f8-c,0,120,600,600.u1.jpg"
          alt=""
          class="rounded-xl hover:shadow-lg"
        />
      </a>

      <div class="pt-3 flex items-center justify-between">
        <a href="#">Product name</a>
        <a href="#" class="text-purple-500 hover:text-purple-800">
          <svg
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7 7V5a3 3 0 0 1 5-2.236A3 3 0 0 1 17 5v2h1.5A1.5 1.5 0 0 1 20 8.5V18a3.997 3.997 0 0 1-1.825 3.357l-.545-.096c-.775-.136-1.574-.563-2.175-1.172-.6-.609-.955-1.346-.955-2.089V7h1V5a1.5 1.5 0 0 0-2.656-.956c.101.3.156.622.156.956v13c0 1.229.582 2.326 1.387 3.142a5.8 5.8 0 0 0 1.08.858H8a4 4 0 0 1-4-4V8.5A1.5 1.5 0 0 1 5.5 7H7Zm1.5-2v2h3V5a1.5 1.5 0 0 0-3 0Z"
              fill="#8E43AD"
            />
          </svg>
        </a>
      </div>
      <p class="pt-1 text-gray-400">$9.99</p>
    </div>
    <div class="w-full md:w-1/4 xl:w1/3 p-6">
      <a href="#">
        <img
          src="https://www.redbubble.com/i/throw-pillow/Furry-Friend-Cooper-by-BantuBrush/140926902.5X2YF"
          alt=""
          class="rounded-xl hover:shadow-lg"
        />
      </a>

      <div class="pt-3 flex items-center justify-between">
        <a href="#">Product name</a>
        <a href="#" class="text-purple-500 hover:text-purple-800">
          <svg
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7 7V5a3 3 0 0 1 5-2.236A3 3 0 0 1 17 5v2h1.5A1.5 1.5 0 0 1 20 8.5V18a3.997 3.997 0 0 1-1.825 3.357l-.545-.096c-.775-.136-1.574-.563-2.175-1.172-.6-.609-.955-1.346-.955-2.089V7h1V5a1.5 1.5 0 0 0-2.656-.956c.101.3.156.622.156.956v13c0 1.229.582 2.326 1.387 3.142a5.8 5.8 0 0 0 1.08.858H8a4 4 0 0 1-4-4V8.5A1.5 1.5 0 0 1 5.5 7H7Zm1.5-2v2h3V5a1.5 1.5 0 0 0-3 0Z"
              fill="#8E43AD"
            />
          </svg>
        </a>
      </div>
      <p class="pt-1 text-gray-400">$9.99</p>
    </div>
  </div>
</div>

{% endblock content %}
