{% extends 'core/base.html' %}

{% block content %}
<header class="px-6 py-10 lg:py-20 bg-purple-500">
    <div class="max-w-3xl mx-auto text-center">
      <p class="mb-4 text-3xl lg:text-5xl text-white">
        Welcome to Bright Buy
      </p>
      <p class="text-white">
        We're thrilled to offer you a wide range of products featuring our
        unique designs
      </p>
      <p class="mb-10 text-white">
        Our designs are inspired by the latest trends, pop culture, and
        everyday life, making them the perfect addition to your personal
        style.
      </p>
      <a href="#" class="inline-block px-8 py-4 rounded-xl bg-white text-purple-500 hover:bg-gray-200">Start Shopping</a>
    </div>
  </header>
{% endblock content %}
    